// transition(PROPERTY DURATION DELAY(OPTIONAL) TIMING-FINCTION);
transition(tran)
    -webkit-transition tran
    -moz-transition tran
    -ms-transition tran
    -o-transition tran
    transition tran